{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Landing Page</title>
    <style>
        .btn-primary {
            background-color: #0d6efd;
            border-color: #0d6efd;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О нас</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-5">

    <div class="container">
        <div class="row align-items-center text-center text-md-start">
            <div class="col-12 col-md-6">
                <!-- Image -->
                <img src="{% static 'illustration-4.png' %}" alt="..."
                     class="img-fluid mw-130 float-end mb-6 mb-md-0 aos-init aos-animate" data-aos="fade-right">
            </div>
            <div class="col-12 col-md-6">
                <!-- Heading -->
                <h1 class="display-1 fw-bold">
                    <div data-aos="fade-left" class="aos-init aos-animate">Работайте продуктивнее.</div>
                    <div data-aos="fade-left" data-aos-delay="100" class="aos-init aos-animate">Автоматизируйте</div>
                </h1>

            </div>
        </div> <!-- / .row -->
    </div>
    <div class="container text-center">
        <div class="row text-center mt-5 align-middle">
            <div class="col-lg-4 mb-4">
                <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h24v24H0z"></path>
                        <path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"></path>
                        <path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"
                              opacity=".3"></path>
                    </g>
                </svg>
                <h5>Собирайте отзывы с разных источников</h5>
                <p>Наша система позволяет быстро и легко собрать отзывы о вашей компании с таких популярных платформ,
                    как
                    Яндекс.Карты и 2ГИС. Больше не нужно тратить часы на ручной поиск и копирование отзывов.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="icon text-primary mb-3">
                    <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z"></path>
                            <path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z"
                                  fill="#335EEA"></path>
                            <path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z"
                                  fill="#335EEA" opacity=".3"></path>
                        </g>
                    </svg>
                </div>
                <h5>Анализируйте плюсы и минусы</h5>
                <p>Мы не только собираем отзывы, но и анализируем их с помощью передовой технологии OpenAI. Система
                    автоматически выделит ключевые достоинства и недостатки вашего бизнеса, основываясь на мнениях
                    реальных
                    клиентов.</p>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="icon text-primary mb-3">
                    <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <path d="M0 0h24v24H0z"></path>
                            <path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z"
                                  fill="#335EEA"></path>
                            <rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2"
                                  height="16" rx="1"></rect>
                        </g>
                    </svg>
                </div>
                <h5>Храним данные эффективно</h5>
                <p>Данные обновляются каждые 24 часа автоматически</p>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-5" id="form">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4">Расскажите о своей организации</h3>
                    <form method="post" action="{% url 'place' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="inputPlaceName" class="form-label">Название организации</label>
                            <input type="text" class="form-control" id="inputPlaceName" name="inputPlaceName"
                                   placeholder="Введите название">
                        </div>
                        <div class="mb-3">
                            <label for="inputAddress" class="form-label">Адрес организации</label>
                            <input type="text" class="form-control" id="inputAddress" name="inputAddress"
                                   placeholder="Введите адрес">
                        </div>
                        <button type="submit" class="btn btn-primary w-100" style="background: #335EEA">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>